.detail-cart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(37, 37, 136);
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;
}
.image> img{
    width:'500px';
}
.team-detail {
    background-color: rgb(13, 13, 51);
    padding-left: 20%;
}

.team-detail p {
    text-align: justify;
    color: white;
    width: 80%;
}

.team-detail h6 {
    color: rgb(224, 205, 205);
}
h1{
    color: rgb(233, 222, 222);
}
.social-media {
    list-style: none;
    display: flex;
    margin-top: 50px;
    margin-left: 35%;
    width: 150px;
    background-color: rgb(252, 247, 247);
    border-radius: 10px;
}
.social-media li{
    margin-left: 15px;
    cursor: pointer;  
    font-size: 30px;
    height: 40px;
}

@media only screen and (max-width: 868px) {
    .detail-cart {
     flex-direction: column;
     width: 100%;
    }
    .social-media{
        margin-left: 25%;
    }
    .team-detail{
        padding-left: 0;
    }
    .team-detail p{
        padding-left: 60px;
    }
  }