.detail-cart{
    border: 1px solid black;
    background-color: rgb(37, 37, 136) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 5px;
    
}

.team-detail{
    margin-left: 150px;
    width: 70%;
}
.team-detail p{
    text-align: justify;
}