.detail-header{
    height: 350px;
    background-image: url(../../Photo/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;  
    /* opacity: ;  */
}
.detail-header img{
    padding-top: 75px;
}